

.container-one {
background-color: #1F2937;
display: flex;
flex-direction: column;
padding-left: 150px;
padding-right: 150px;
padding-bottom: 100px;
}

.Header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.Header-two {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin-top: 50px;
    gap: 50px;

}
 
ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap:20px;
    list-style-type: none;
}

a {
    color: white;
    font-size: 18px;
    font-style: #E5E7EB;
    text-decoration: none;
}

.sub-one {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
    margin: 0;
}

.sub-two {
    font-size:18px;
    font-style: #E5E7EB;
    color: #F9FAF8;
}

.Subtext {
    display: flex;
    width: 400px;
    flex-direction: column;
    margin: 0;
    justify-content: space-between;
}

.image-one {
    display: flex;
    width: 400px;
}

p {
    margin: 0;
}

button {
    width: 100px;
    border-radius: 6px;
    background-color: #3882F6;
    padding: 8px;
    margin-top: 8px;
    color: #E5E7EB;
    font-weight: bold;
}

.container-two {
    display: flex;
    flex-direction: column;
    padding: 100px;
}

.header-three {
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    font-size: 36px;
    font-weight: bolder;
    font-style: #1F2937;
}

.image-list {
    display: flex;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
    gap: 50px;
}

.image-box {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.container-three {
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
    flex-direction: column;
    padding-left: 150px;
    padding-right: 150px;
}

.quote {
    display: flex;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    padding: 150px;
    padding-bottom: 0;
    flex-grow: 1;
}

.author {
    display: flex;
    padding-bottom: 150px;
    justify-content: flex-end;
    padding-right: 250px;
    font-size: larger;
    font-weight: bold;
}

.container-four {
    display: flex;
    justify-content: center;
    padding: 150px;
}


.call-action {
    background-color: #3882F6;
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 100px;
    padding-left: 100px;
    border-radius: 20px;

}

.four-heading {
    display: flex;
    font-size: larger;
    font-weight: bold;
    color: white;
}

.four-text {
    display: flex;
    color: white;

}

.text-cont {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

.footer {
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 40px;
    justify-content: center;
}
